*{
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 100%;
    margin: 0%;
}
/*base styles*/
.header{
    margin: 50px;
    text-align: center;
    text-transform: capitalize;

}
p{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}
.items{
    width: 100%;
    position:relative;
}

.items>div{
    background-color: lightsalmon;
    margin-left: 2%;
    margin-right: 2%;
    border: black solid 2px;

}
.title{
    font-size: 125%;
    text-align: center;
    text-transform: capitalize;
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 60%;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 1%;
    position: relative;
    
}
#chicken{
    background-color: rgb(233, 156, 205);
}
#beef{
    background-color: rgb(210, 253, 110);
}
#sushi{
    background-color: rgb(142, 225, 250);
}
/*laptop styles*/
@media (min-width:992px){
    .col-lg-4{
        float:left;
        border: 1px solid black;
        width: 29.33%;
    }

}

/*tablet styles*/
@media (min-width:768px)and (max-width:991px){
    .col-md-6{
        float: left;
        width: 46%;
        margin-bottom: 4%;
    }
    .col-md-12{
        float: left;
        width: 96%;
        margin-bottom: 4%;
    }
}

/*mobile styles*/
@media (max-width:767px){
    .col-sm-12{
        float:left;
        width: 96%;
        margin-bottom: 4%; 
    }
    
}